<% @comments.each do |comment| %>
  <div class="media">


    <div class="media-body">
      <small>
        <% if policy(comment).destroy? %>
        | <%= link_to "Delete", [@post, comment], method: :delete %>
      <% end %>
    </small>
      <%= comment.body %>
      <small class="text-muted">
        <p>insert date/time and user here if it would work</p>
      </small>

    </div>
  </div>
<% end %>