<% @comments.each do |comment| %>
  <div class="media">
    <div class="media-body">
        <%= comment.body %>

    </br>

    <small class="text-muted">
      submitted <%= time_ago_in_words(comment.created_at) %> time ago by <%= @post.user.name %>
    </small>

    </div>
  </div>
<% end %>